apiVersion: v1
kind: Service
metadata:
  name: cmd-api
  labels:
    app: cmd-api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: cmd-api
