{{- if .Values.ollama.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: ollama-external
  labels:
    app: ollama
    type: external
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.ollama.port }}
      targetPort: {{ .Values.ollama.port }}
      protocol: TCP
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: ollama-nodeport
  labels:
    app: ollama
    type: external
spec:
  type: NodePort
  ports:
    - port: {{ .Values.ollama.port }}
      targetPort: {{ .Values.ollama.port }}
      nodePort: {{ .Values.ollama.nodePort }}
      protocol: TCP
      name: http
  selector: {}
{{- end }}

{{- if .Values.bookforge.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: bookforge-external
  labels:
    app: bookforge
    type: external
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.bookforge.port }}
      targetPort: {{ .Values.bookforge.port }}
      protocol: TCP
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: bookforge-nodeport
  labels:
    app: bookforge
    type: external
spec:
  type: NodePort
  ports:
    - port: {{ .Values.bookforge.port }}
      targetPort: {{ .Values.bookforge.port }}
      nodePort: {{ .Values.bookforge.nodePort }}
      protocol: TCP
      name: http
  selector: {}
{{- end }}
